<#import "base.html" as base>
<@base.layout>
     <p style='margin:0px;padding-bottom: 10px'>
        Estimado(a) ${nombre}:               
    </p>
    <p style='margin:0px;padding-bottom: 10px'>
       La contraseña del usuario ${username} del sistema SIAM expirará en ${diaVencimiento} días. Recuerde que si no modifica su contraseña en ese plazo, no podrá realizar ninguna acción dentro del sistema hasta que ésta se haya modificado.
    </p>
    <p style='margin:0px;padding-bottom: 10px'>
       Para cambiar su contraseña, debe ingresar con sus credenciales al sistema SIAM y luego acceder al módulo "Cambiar contraseña de SIAM".
    </p>
        
</@base.layout>

